PORT=5000

MONGO_URI=mongodb://localhost:27017/ecommerce_db

JWT_SECRET=supersecretkey

EMAIL_USER=example@gmail.com
EMAIL_PASS=yourpassword

STRIPE_SECRET_KEY=your_stripe_key

CLIENT_URL=http://localhost:4200